@font-face {
  font-family: "Circular-Std-Book";
  src: url("../fonts/CircularStd-Book.woff");
}

@font-face {
  font-family: "Circular-Std-Medium";
  src: url("../fonts/CircularStd-Medium.woff");
}

body {
  font-family: Circular-Std-Medium;
  overflow-x: hidden;
}

/* hero-container */

.hero-container {
  padding-top: 40px;
  align-items: center;
}

.hero-text-block {
  padding-top: 50px;
  padding-left: 200px;
}

.hero-subheading {
  font-family: Circular-Std-Book;
  font-size: 25px;
}

.animation-block {
  padding-right: 20px;
}

.animation-block {
  position: relative;
}
.bg1 {
  width: 800px;
  position: absolute;
  left: -674px;
  top: -153px;
}

.bg2 {
  transform: scale(0.6);
  position: absolute;
  left: -400px;
  top: -29px;
  animation: animateman 1s ease-in-out forwards;
}

@keyframes animateman {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.6);
  }
}

.bg3 {
  transform: scale(0.8);
  position: absolute;
  left: -505px;
  top: 168px;
  animation: animatecat 1s ease-in-out forwards;
}

@keyframes animatecat {
  0% {
    transform: scale(0);
    left: -100px;
  }
  100% {
    transform: scale(0.8);
    left: -505px;
  }
}

/* End of hero-container */

/* About Us */

.aboutUs-container {
  padding-left: 40px;
  padding-top: 200px;
}
